@{
    ViewBag.Title = "About";
}
<body>
    <div class="img-fullpage" id="img-about">
            <div class="aboutBox">
                <h1>Vision Statement</h1>
                <p>
                    This is a site for prospective college students who want to be able to search for colleges based on set criteria and see if both the college, and its city, are
                    right for them. The College Companion is an information system that will allow the user to fill out a form of set criteria, hold a search based on
                    that criteria and get back a list of results with the best match on top. They can then look over various details of these results, such as information
                    about the city amenities, travel options or demographics. Unlike the current websites, such as Naviance Student or ACT College Search,
                    the focus is on the social, economic and psychological needs of the student being met – not their test scores.
                </p>

                <h3>What can I search for?</h3>
                <ul>
                    <li> Local food amenities for town around a given college. </li>
                    <li> Apartment and home rentals in the college area.</li>
                    <li> Demographic information about the college town.</li>
                    <li> Information about Ubers in the area. </li>
                    <li> Detailed information about colleges which meet your needs.</li>
                    <li> Information about how walking friendly the local town is. </li>
                    <li> School and/or city safety ratings.</li>
                </ul>

                <h3>What can I do as a user instead of a visitor?</h3>
                <ul>
                    <li> You can save colleges to look at the information later. </li>
                    <li> You can favorite colleges you might be considering. </li>
                </ul>
            </div>
    </div>
</body>
