@{
    ViewBag.Title = "Contact";
}

    <img src="~/Content/padnPlant.jpg" class="bg">
        <div class="contactBox">
            <div class="shiftDiv-down">
                <div class="col-sm-5">
                    <h1>SSTark Industries</h1>
                    <p>
                        We are a small non-profit college team. However, we are eager to hear your feedback and concerns about The College Companion. Please feel free to
                        contact us. Give up to three business days for a response. Some topics may require our team to communicate on the matter before we
                        respond. Yyour needs and concerns are very important us.
                    </p>
                </div>
                <div class="row">
                    <div class="shiftDiv-Tinydown">
                        <div class="col-sm-5">
                            <h1>Team Members</h1>
                            <address>
                                <strong>Daniel Tapia:</strong> <a href="mailto:dtapia12@mail.wou.edu">dtapia12@mail.wou.edu</a> <br />
                                <strong>Nathan Stark:</strong> <a href="mailto:nstark13@mail.wou.edu">nstark13@mail.wou.edu</a> <br />
                                <strong>Rochelle Simpson:</strong> <a href="mailto:rsimpson15@mail.wou.edu">rsimpson15@mail.wou.edu</a>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
