@{
    ViewBag.Title = "Contact";
}

    <img src="~/Content/padnPlant.jpg" class="bg">
        <div class="contactBox">
            <div class="shiftDiv-down">
                <div class="col-sm-5">
                    <h1>SSTark Industries</h1>
                    <p>
                        Our team is small non-profit college team. However, we are eager to hear your feedback and concerns about the site, so please feel free to
                        contact us. Please give up to three buisness days for a response, some topics may require our team to communicate on the matter before we
                        respond because your needs/concerns are very important us.
                    </p>
                </div>
                <div class="row">
                    <div class="shiftDiv-Tinydown">
                        <div class="col-sm-5">
                            <h1>Team Members</h1>
                            <address>
                                <strong>Daniel Tapia:</strong> <a href="mailto:dtapia12@mail.wou.edu">dtapia12@mail.wou.edu</a> <br />
                                <strong>Nathan Stark:</strong> <a href="mailto:nstark13@mail.wou.edu">nstark13@mail.wou.edu</a> <br />
                                <strong>Rochelle Simpson:</strong> <a href="mailto:rsimpson15@mail.wou.edu">rsimpson15@mail.wou.edu</a>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
