
@{
    ViewBag.Title = "DegreeQuiz";
}
<img src="~/Content/whiteboard-2903269.png" class="bg">
<div class="quizBox" style="overflow:hidden">
    <h2 class="ccheader">DegreeQuiz</h2>
    <p>
        Rate each of the following questions 1 through 5, 1 being that you really dislike like doing what the
        question asks about and 5 being that you love it.
    </p>
        <div class="row">
            <!--First Col-->
            <div class="col-md-6">
                <h4>Thinking of project ideas and designing them.</h4>
                <form id="q1">
                    <input type="radio" id="q1c1" name="q1" value="1"> 1
                    <input type="radio" id="q1c2" name="q1" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q1c3" name="q1" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q1c4" name="q1" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q1c5" name="q1" value="5" style="margin-left:10px"> 5
                </form>

                <h4>Having rules laid out for you and helping ensure they are respected by others.</h4>
                <form id="q2">
                    <input type="radio" id="q2c1" name="q2" value="1"> 1
                    <input type="radio" id="q2c2" name="q2" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q2c3" name="q2" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q2c4" name="q2" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q2c5" name="q2" value="5" style="margin-left:10px"> 5
                </form>

                <h4>Working with children and helping them learn &Aacute; explore the world.</h4>
                <form id="q3">
                    <input type="radio" id="q3c1" name="q3" value="1"> 1
                    <input type="radio" id="q3c2" name="q3" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q3c3" name="q3" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q3c4" name="q3" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q3c5" name="q3" value="5" style="margin-left:10px"> 5
                </form>

                <h4>Write stories or school newspapers articles.</h4>
                <form id="q4">
                    <input type="radio" id="q4c1" name="q4" value="1"> 1
                    <input type="radio" id="q4c2" name="q4" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q4c3" name="q4" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q4c4" name="q4" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q4c5" name="q4" value="5" style="margin-left:10px"> 5
                </form>

                <h4>Helping with eco-friendly solutions to enviromental issues.</h4>
                <form id="q5">
                    <input type="radio" id="q5c1" name="q5" value="1"> 1
                    <input type="radio" id="q5c2" name="q5" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q5c3" name="q5" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q5c4" name="q5" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q5c5" name="q5" value="5" style="margin-left:10px"> 5
                </form>

                <h4>Being a team leader and helping coordinate a team effort so everyone succeeds.</h4>
                <form id="q6">
                    <input type="radio" id="q6c1" name="q6" value="1"> 1
                    <input type="radio" id="q6c2" name="q6" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q6c3" name="q6" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q6c4" name="q6" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q6c5" name="q6" value="5" style="margin-left:10px"> 5
                </form>

                <h4>Helping a friend with in pain by offering up a shoulder/neck rub.</h4>
                <form id="q7">
                    <input type="radio" id="q7c1" name="q7" value="1"> 1
                    <input type="radio" id="q7c2" name="q7" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q7c3" name="q7" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q7c4" name="q7" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q7c5" name="q7" value="5" style="margin-left:10px"> 5
                </form>

                <h4>Watch shows on politics, like the Daily Show or Jim Jefferies, or watch the news.</h4>
                <form id="q8">
                    <input type="radio" id="q8c1" name="q8" value="1"> 1
                    <input type="radio" id="q8c2" name="q8" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q8c3" name="q8" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q8c4" name="q8" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q8c5" name="q8" value="5" style="margin-left:10px"> 5
                </form>

                <h4>Work out at sports/health clubs.</h4>
                <form id="q9">
                    <input type="radio" id="q9c1" name="q9" value="1"> 1
                    <input type="radio" id="q9c2" name="q9" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q9c3" name="q9" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q9c4" name="q9" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q9c5" name="q9" value="5" style="margin-left:10px"> 5
                </form>

                <h4>Work with computers and writing in computer langauges (Ex: Java).</h4>
                <form id="q10">
                    <input type="radio" id="q10c1" name="q10" value="1"> 1
                    <input type="radio" id="q10c2" name="q10" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q10c3" name="q10" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q10c4" name="q10" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q10c5" name="q10" value="5" style="margin-left:10px"> 5
                </form>

                <h4>Assist others in important tasks, such as helping a parent fix a car or cook for a big party.</h4>
                <form id="q11">
                    <input type="radio" id="q11c1" name="q11" value="1"> 1
                    <input type="radio" id="q11c2" name="q11" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q11c3" name="q11" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q11c4" name="q11" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q11c5" name="q11" value="5" style="margin-left:10px"> 5
                </form>

                <h4>
                    When told a fact you like to research just how real it is, and if it isn't you enjoy explaining
                    your new found research to others.
                </h4>
                <form id="q12">
                    <input type="radio" id="q12c1" name="q12" value="1"> 1
                    <input type="radio" id="q12c2" name="q12" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q12c3" name="q12" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q12c4" name="q12" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q12c5" name="q12" value="5" style="margin-left:10px"> 5
                </form>

                <h4> Study the ways our world works, even down to a microscopic level. </h4>
                <form id="q13">
                    <input type="radio" id="q13c1" name="q13" value="1"> 1
                    <input type="radio" id="q13c2" name="q13" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q13c3" name="q13" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q13c4" name="q13" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q13c5" name="q13" value="5" style="margin-left:10px"> 5
                </form>

                <h4> Finding loops holes and short cuts no one else has noticed.</h4>
                <form id="q14">
                    <input type="radio" id="q14c1" name="q14" value="1"> 1
                    <input type="radio" id="q14c2" name="q14" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q14c3" name="q14" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q14c4" name="q14" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q14c5" name="q14" value="5" style="margin-left:10px"> 5
                </form>
            </div>

            <!--Second Col-->
            <div class="col-md-6">
                <h4>Building something form the ground up while following a design plan.</h4>
                <form id="q15">
                    <input type="radio" id="q15c1" name="q15" value="1"> 1
                    <input type="radio" id="q15c2" name="q15" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q15c3" name="q15" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q15c4" name="q15" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q15c5" name="q15" value="5" style="margin-left:10px"> 5
                </form>

                <h4>Listen to your friends problems and offer advice when you can.</h4>
                <form id="q16">
                    <input type="radio" id="q16c1" name="q16" value="1"> 1
                    <input type="radio" id="q16c2" name="q16" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q16c3" name="q16" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q16c4" name="q16" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q16c5" name="q16" value="5" style="margin-left:10px"> 5
                </form>

                <h4>Working with a group to expand on a small idea and make it something awesome.</h4>
                <form id="q17">
                    <input type="radio" id="q17c1" name="q17" value="1"> 1
                    <input type="radio" id="q17c2" name="q17" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q17c3" name="q17" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q17c4" name="q17" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q17c5" name="q17" value="5" style="margin-left:10px"> 5
                </form>

                <h4>
                    Research something and use it to create a story or informative essay that
                    helps others understand that point of view or point in time.
                </h4>
                <form id="q18">
                    <input type="radio" id="q18c1" name="q18" value="1"> 1
                    <input type="radio" id="q18c2" name="q18" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q18c3" name="q18" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q18c4" name="q18" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q18c5" name="q18" value="5" style="margin-left:10px"> 5
                </form>

                <h4> Help those who are suffering to enjoy what they can of their lives. </h4>
                <form id="q19">
                    <input type="radio" id="q19c1" name="q19" value="1"> 1
                    <input type="radio" id="q19c2" name="q19" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q19c3" name="q19" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q19c4" name="q19" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q19c5" name="q19" value="5" style="margin-left:10px"> 5
                </form>

                <h4> Watch murder mystery shows because you want to understand _why_ the criminal did what they did.</h4>
                <form id="q20">
                    <input type="radio" id="q20c1" name="q20" value="1"> 1
                    <input type="radio" id="q20c2" name="q20" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q20c3" name="q20" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q20c4" name="q20" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q20c5" name="q20" value="5" style="margin-left:10px"> 5
                </form>

                <h4>Mentor others in topics you are good at.</h4>
                <form id="q21">
                    <input type="radio" id="q21c1" name="q21" value="1"> 1
                    <input type="radio" id="q21c2" name="q21" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q21c3" name="q21" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q21c4" name="q21" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q21c5" name="q21" value="5" style="margin-left:10px"> 5
                </form>

                <h4>Work with, and help nurture, plants or animals.</h4>
                <form id="q22">
                    <input type="radio" id="q22c1" name="q22" value="1"> 1
                    <input type="radio" id="q22c2" name="q22" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q22c3" name="q22" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q22c4" name="q22" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q22c5" name="q22" value="5" style="margin-left:10px"> 5
                </form>

                <h4>Work with differently abled people (Ex: Deaf, Mental Illness, Etc).</h4>
                <form id="q23">
                    <input type="radio" id="q23c1" name="q23" value="1"> 1
                    <input type="radio" id="q23c2" name="q23" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q23c3" name="q23" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q23c4" name="q23" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q23c5" name="q23" value="5" style="margin-left:10px"> 5
                </form>

                <h4>Ensuring things are done right the first time.</h4>
                <form id="q24">
                    <input type="radio" id="q24c1" name="q24" value="1"> 1
                    <input type="radio" id="q24c2" name="q24" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q24c3" name="q24" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q24c4" name="q24" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q24c5" name="q24" value="5" style="margin-left:10px"> 5
                </form>

                <h4>
                    Helping break down complicated ideas and concepts into things people can easily
                    understand.
                </h4>
                <form id="q25">
                    <input type="radio" id="q25c1" name="q25" value="1"> 1
                    <input type="radio" id="q25c2" name="q25" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q25c3" name="q25" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q25c4" name="q25" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q25c5" name="q25" value="5" style="margin-left:10px"> 5
                </form>

                <h4> Work in competitive enviroments that challenge me. </h4>
                <form id="q26">
                    <input type="radio" id="q26c1" name="q26" value="1"> 1
                    <input type="radio" id="q26c2" name="q26" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q26c3" name="q26" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q26c4" name="q26" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q26c5" name="q26" value="5" style="margin-left:10px"> 5
                </form>

                <h4> Help others to recover lost mobility or abilities so they can resume their lives. </h4>
                <form id="q27">
                    <input type="radio" id="q27c1" name="q27" value="1"> 1
                    <input type="radio" id="q27c2" name="q27" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q27c3" name="q27" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q27c4" name="q27" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q27c5" name="q27" value="5" style="margin-left:10px"> 5
                </form>

                <h4> Help educate myself and others on the impact of pollution on wildlife and our enviroment.</h4>
                <form id="q28">
                    <input type="radio" id="q28c1" name="q28" value="1"> 1
                    <input type="radio" id="q28c2" name="q28" value="2" style="margin-left:10px"> 2
                    <input type="radio" id="q28c3" name="q28" value="3" style="margin-left:10px"> 3
                    <input type="radio" id="q28c4" name="q28" value="4" style="margin-left:10px"> 4
                    <input type="radio" id="q28c5" name="q28" value="5" style="margin-left:10px"> 5
                </form>
            </div>
        </div>

        <div class="row" style="margin-top:3em">
            <div class="col-lg-12" style="text-align:center;">
                <input type="button" id="submit" class="btn-info" name="submit" value="Submit" onclick="start()" />
            </div>
        </div>
    <div class="row" style="margin-top:3em">
        <div id="error" class="ccPanelHeader"></div>
    </div>
    </div>


@section scripts{
    <script type="text/javascript" src="~/Scripts/quizForm.js"></script>
    }

