<!DOCTYPE html>

@{
    ViewBag.Title = "Error";
}

    <div class="container" style="margin:auto; width:30%; padding:2em;text-align:center">
        <h2>Something's Not Quite Right...</h2>
        <img src="~/Content/catskullErrorIcon.svg" style="height:10em;width:auto;" />
        <br />
        <p style="margin-top:2em">It appears the rescource you are looking for has not been found. 
        Much like our cat you can wait for it to come back (it didn't really
        pan out for him though...) or you can click a link above to try 
        something new!</p>
    </div>
