@{
    ViewBag.Title = "Home Page";
}
<body>
    <div class="img-fullpage" id="img-index">
        <div class="shiftDiv-left">
            <div class="indexBox">
                <h1 class="ccheader">Welcome to the College Companion</h1>
                <p class="lead">
                    The College Companion is a website to help prospective college students find the college, and
                    enviroment, that is right for them. Many sites like this worry about your GPA or credentials, meanwhile we're
                    concerned making sure your happy in the enviroment of your future learning!
                </p>
            </div>
        </div>
    </div>
</body>
