
@{
    ViewBag.Title = "School Search";
}

<div class="container">

    &nbsp

    <h2>School Search: </h2>

    <hr />

    <div class="form-group text-center">
        @*User's Input for School Search*@
        <input class="well-sm" type="text" id="UserSchoolInput" name="UserSchoolInput" placeholder="Western Oregon..." />
        @*Search Button.*@
        <input id="Search" name="Search" type="button" value="Search" class="btn btn-lg" />
    </div>
</div>

<hr />

@* Display Schools after Search Button Clicked.*@
<div id="Results" style="display: none">
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Schools</th>
                    <th>Accreditor</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Ownership</th>
                </tr>
            </thead>
            <tbody id="SearchResults">
                @*Results*@
            </tbody>
        </table>
        <div class="text-center">
            <ul class="pager">
                <li><button class="btn btn-default" type="button" id="Previous"> < </button></li>
                <li><button class="btn btn-default" type="button" id="Next"> > </button></li>
            </ul>
        </div>
    </div>
</div>

<h2 class="text-center" id="NotFound"></h2>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/SchoolSearch.js"></script>
}
