@model IEnumerable<collegeCompanionApp.Models.SearchResult>


@{
    ViewBag.Title = "Yelp";
}

<div class="container">

    &nbsp

    <h2>Food Delivery</h2>

    <hr />

    @*<div class="col-sm-4"></div>*@

    <div class="form-group" style="text-align: center;">
        @*Location Text*@
        @*<label>Location:</label>*@

        @*Save Colleges*@
        <label for="Location" class="ccheader">Select a College</label>
        <select class="form-control text-center" style="display: block; margin: 0 auto;" id="Location" name="Location">
            @foreach (var item in Model)
            {
                <option value="@item.ZipCode">@item.Name</option>
            }
        </select>

        <br />

        @*Term Input*@
        <label for="Term" class="ccheader">Enter a Term</label>
        <br />
        <input class="well-sm well" type="text" id="Term" name="Term" placeholder="ex: Delivery, Pizza..." />
        @*Open Now Checkbox*@
        <label class="checkbox-inline" id="IsOpen">
            <input type="checkbox" id="IsOpen" value="Open"> Is Open
        </label>

        <br />
        @*Search Button.*@
        <input id="Search" name="Search" type="button" value="Search" class="btn btn-lg btn-block btn-success" style="display: block; margin: 0 auto;"/>

    </div>

    @*<div class="col-sm-4"></div>*@

</div>

<hr />

@*Display Results here*@
<div id="Results" style="display: none">
    <div class="container" id="SearchResults" style="align-content:center">
    </div>
</div>


@*No Search Found Or Error Message*@
<div class="text-center">
    <h3 id="NoResults"></h3>
    <h3 id="Error"></h3>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/YelpSearch.js"></script>
}
