@model IEnumerable<collegeCompanionApp.Models.SearchResult>


@{
    ViewBag.Title = "Yelp";
}

<div class="container">

    &nbsp

    <h2>Food Delivery</h2>

    <hr />

    <div class="col-sm-4"></div>

    <div class="col-sm-4 form-group text-center">
        @*Location Text*@
        @*<label>Location:</label>*@

        @*Save Colleges*@
        <label for="Location" class="ccheader">Colleges</label>
        <select class="form-control text-center" id="Location" name="Location">
            @foreach (var item in Model)
            {
                <option value="@item.ZipCode">@item.Name</option>
            }
        </select>
        @*Location Input*@
        @*<input class="well-sm" type="text" id="Location" name="Location" placeholder="ZIP, School Name..." />*@

        <br />

        @*Selecting A Term*@
        <form id="Term">
            @*Delivery Radio Automatically Checked*@
            <input type="radio" name="Term" value="Delivery" checked> Delivery<br>
            @*Grocery Radio*@
            <input type="radio" name="Term" value="Grocery"> Grocery<br><br>
            @*Search Button.*@
            <input id="Search" name="Search" type="button" value="Search" class="btn btn-lg" />
        </form>
    </div>

    <div class="col-sm-4"></div>

</div>

<hr />

@*Display Results here*@
<div id="Results" style="display: none">
    <div class="container" id="SearchResults" style="align-content:center">
    </div>
</div>


@*No Search Found Or Error Message*@
<div class="text-center">
    <h3 id="NoResults"></h3>
    <h3 id="Error"></h3>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/YelpSearch.js"></script>
}
