<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b131b204-9446-4031-9922-e55f0d3a7041/resourceGroups/CollegeCompanionProject/providers/Microsoft.Web/sites/CollegeCompanionApp</ResourceId>
    <ResourceGroup>CollegeCompanionProject</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://collegecompanionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>collegecompanionapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CollegeCompanionApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CollegeCompanionApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=collegecompanionserver.database.windows.net;Initial Catalog=CollegeCompanionDB;Persist Security Info=True;User ID=CollegeCompanion;Password=ICollege503!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="collegeCompanionApp.Models.ApplicationDbContext, collegeCompanionApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=collegecompanionserver.database.windows.net;Initial Catalog=CollegeCompanionDB;Persist Security Info=True;User ID=CollegeCompanion;Password=ICollege503!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>